<div class="container">
    <h3>List of Users</h3> 
    <div>
        {{# each . }}
            <article class="item">
                <div>first name: {{ this.firstName }}</div>
                <div>last name: {{ this.lastName }}</div> 
                <div>email: {{ this.email}}</div>
                <div>password: {{ this.password}}</div>
            </article>
        {{/each}}
    </div>
</div>